@import "../../assets/mixins";

.movie-row {
  @include flex(center, flex-start, "", column);
  padding: 3em;
  background: rgba(28, 28, 28, 1);
  border-bottom: 0.15em solid black;
  border-top: 0.15em solid black;

  h2 {
    background: rgba(196, 196, 196, 0.6);
    text-align: left;
    font-size: 2em;
    margin-left: 0.3em;
    padding: 0.1em 1.8em;
    margin-bottom: 1em;
  }
  .movies {
    width: 100%;
  }
}
