@import "../../../../assets/mixins";

.movie-details-information {
  @include flex(center, "", "", column);
  padding: 2em 5em;
  h1 {
    background: rgba(214, 13, 13, 0.8);
    color: black;
    border-left: 0.2em solid black;
    text-align: left;
    font-size: 2em;
    margin: 0;
    padding: 0.1em 1.8em;
    width: 10em;
  }
  .movie-details-info-wrapper {
    @include flex(center, center, left, column);
    background: rgba(0, 0, 0, 0.6);
    width: 33%;
    padding: 2em;
    margin: 2em 0;
  }
  ul {
    @include flex("", "", "", "");
    //margin-bottom: 2em;
    li:not(:first-child) {
      margin-left: 3em;
      padding-left: 3em;
      border-left: 0.2em solid rgb(196, 196, 196);
    }
  }
  hr {
    width: 100%;
    margin: 1em 0;
    visibility: hidden;
  }
  .movie-details-flex {
    @include flex(space-between, center, "", "");
    div {
      margin: 0 1em;
    }

    .age-restriction {
      background: rgb(88, 88, 88);
      padding: 0.7em;
      color: white;
      &::after {
        content: "+";
      }
    }
  }
  .movie-details-description {
    padding: 1em 0;
    background: rgba(0, 0, 0, 0.6);
    border-top: 0.1em solid rgba(214, 13, 13, 0.7);
    border-bottom: 0.1em solid rgba(214, 13, 13, 0.7);
  }
}
