@import "../../assets/mixins";

.footer {
  display: flex;
  padding: 3em 4em;
  background: rgba(38, 38, 38, 1);
  height: 16em;
}

.information-links {
  @include flex("", "", "", column);
  margin: 0 6em;
}

.information-links-social {
  margin: 7em 0 0 15em;
  @include flex("", "", "", row);

  li {
    height: 2em;
    width: 3em;
    margin: 0 3em;
    @include flex(center, center, "", "");
    cursor: pointer;
  }
  i {
    font-size: 1.2em;
    border: 0.1em solid black;
    padding: 0.6em;
    border-radius: 3em;
    background: rgba(138, 138, 138, 1);
    transition: all 0.3s ease-in-out;
  }
}

.test {
  background: rgb(0, 0, 0) !important;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 31%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}
