@import "../../assets/mixins";

.footer {
  display: flex;
  padding: 3em 4em;
  background: rgb(29, 29, 29);

  .information-links {
    @include flex("", "", "", column);
    margin: 0 6em;
  }

  .information-links-social {
    margin: 4em 0 0 17em;
    @include flex("", "", "", row);

    li {
      height: 2em;
      width: 3em;
      margin: 0 3em;
      @include flex(center, center, "", "");
      cursor: pointer;
    }
    i {
      font-size: 1.2em;
      color: black;
      border: 0.1em solid black;
      padding: 0.6em;
      border-radius: 3em;
      background: rgb(110, 110, 110);

      transition: all 0.2s ease-in-out;
    }
  }
}
