@import "../../../../assets/mixins";

.movie-details-header {
  background: rgb(0, 0, 0);
  z-index: 2;
  img {
    height: 60vh;
    z-index: 1;
    width: 100%;
    padding: 0 7em;
  }
  .movie-details-header {
    width: 25em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.5em;
    position: absolute;
    top: 40%;
    left: 10%;
    .start-watching {
      @include flex(space-around, center, "", "");
      color: white;
      padding-bottom: 1em;
      i {
        font-size: 1.5em;
        margin: 0;
      }
    }
    i {
      @include flex(center, center, center, "");
      color: white;
      background: rgba(214, 13, 13, 1);
      margin: 0 1em;
      padding: 0.3em;
      border-radius: 5em;
      width: 2em;
      height: 2em;
      font-size: 1.2em;
      cursor: pointer;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgba(214, 13, 13, 1);
        background: white;
      }
    }
    .movie-interact {
      @include flex(space-evenly, "", "", "");
    }
    .fa-play-circle {
      animation: pulse-red 1.4s infinite;
    }
  }
}
