.movie {
  .absolute-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 25em;
    color: blue;
  }
  border-radius: .7em;
  position: relative;
  width: 19em;
  height: 24em;
  background: black;
  margin: 4em 2em;
  img {
  }

  transition: all 0.3s ease-in-out;
}
