.movie {
  .absolute-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 25em;
    color: blue;
  }
  position: relative;
  width: 19em;
  height: 24em;
  background: black;
  margin: 0em 2em;
  img {
    width: 19em;
    height: 24em;
    cursor: pointer;
  }

  transition: all 0.3s ease-in-out;
}
