.action-btn {
  border-radius: 2em;
  border: 0.2em solid black;
  color: black;
  background: rgba(196, 196, 196, 0.8);
  padding: 1em 2em;
  margin-right: 5em;
  cursor: pointer;
  font-family: "Patua One", cursive;

  transition: all 0.3s ease-in-out;
}

// input {
//   box-shadow: none;
//   border-radius: .7em;
//   border: 0.2em solid black;
//   height: 2.2em;
//   width: 20em;
//   cursor: pointer;

//   transition: all 0.3s ease-in-out;
// }

// select {
//   box-shadow: none;
//   border-radius: .7em;
//   border: 0.2em solid black;
//   height: 2.2em;
//   width: 8em;
//   cursor: pointer;

//   transition: all 0.3s ease-in-out;
// }
