.action-btn {
  border-radius: 2em;
  border: 0.2em solid black;
  color: black;
  background: rgba(196, 196, 196, 0.8);
  padding: 1em 2em;
  margin-right: 5em;
  cursor: pointer;
  font-family: "Patua One", cursive;

  transition: all 0.3s ease-in-out;
}
.play-btn {
  padding: 1em;
  border: none;
  cursor: pointer;
  color: white;
  background: rgba(214, 13, 13, 1) !important;
  i {
    margin-right: 0.7em;
  }

  transition: all .3s ease-in-out;
}
// input {
//   box-shadow: none;
//   border-radius: .7em;
//   border: 0.2em solid black;
//   height: 2.2em;
//   width: 20em;
//   cursor: pointer;

//   transition: all 0.3s ease-in-out;
// }

// select {
//   box-shadow: none;
//   border-radius: .7em;
//   border: 0.2em solid black;
//   height: 2.2em;
//   width: 8em;
//   cursor: pointer;

//   transition: all 0.3s ease-in-out;
// }
