.navigation li:hover:not(.auth-item) {
  border-top: 0.3em solid rgba(214, 13, 13, 0.7);
}

.action-btn:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.play-btn:hover {
  background: rgb(99, 7, 7);
  padding: 1.2em;
}

.information-links-social li i:hover {
  border: 0.1em solid rgba(115, 0, 0, 1);
  color: rgba(115, 0, 0, 1);
  background: rgba(59, 59, 59, 1);
}

.arrow:hover {
  font-size: 1.1em;
  color: rgba(171, 171, 171, 1);
}

.search-section i:hover {
  color: rgba(214, 13, 13, 1);
}
