@import "../../assets/mixins";

.search-section {
  @include flex(center, center, center, "");
  height: 5em;
  width: 100%;
  background: rgba(46, 46, 46, 0.9);
  border-top: 0.2em solid black !important;
  border-bottom: 0em solid black;
  ul {
    @include flex(center, center, center, "");
    li {
      margin: 0 2em;
    }
    label {
      @include flex(center, center, center, "");
      justify-content: flex-start;
      margin-left: 1em;
    }
  }
  .search-movie {
    color: white;
    border: 0.1em solid black;
    margin-top: 0.6em !important;
    width: 20em;
    height: 2.3em;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1.3em;
    padding-left: 1em;
    &::placeholder {
      color: white;
    }
  }
  select {
    color: white;
  }
  i {
    color: white;
    position: absolute;
    margin-left: 16.3em;
    margin-top: 0.5em;
    font-size: 1.1em;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
  }
}
